# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# TODO: Why did I have to download JUnit libs? Should have been pulled in as gradle dependencies.
/lib/apiguardian*
/lib/junit*
/lib/opentest*

# IntelliJ
.idea
*.iml

# Outputs
data/output-feature-tutorial